.mainPage1280_div_1{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(32,36,55);
    padding-top: 52px;
}
.img{
    position:absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.mainPage1280_div_1_text{
    color: white;
    height: 100%;
    padding-top: 70vh;
    transition: 3s;
    font-size: 40px;
    word-break: keep-all;
}
.mainPage1280_div_2{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: rgb(219,222,227);
    padding: 20px, 0px;
}
.mainPage1280_div_2_box{
    width: 100%;
    height: fit-content;
}
.mainPage1280_div_2_box2{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to bottom right,#95a2f5 0%, #6df5fa 100%);
    border-image-slice: 1;
    text-align: start;
}

.mainPage1280_div_2_box3{
    width: 100%;
    height: fit-content;
    background-color: rgb(121, 99, 121);
    
}
.mainPage1280_div_2_box2_title{
    float: left;
}
.testOpacity{
    background-color: red;
}
.mainPage_div_2_box3_subTitle{
    margin: 0;
    font-size: 25px;
    transition: 0.5s;
}
.mainPage_div_2_box3_subContent{
    color:rgb(56,59,80);
    font-size: 16px;
    word-break: keep-all;
}
.mainPage1280_div_2_box3_button{
    border: 2px solid transparent;
    color: rgb(56,59,80);
    background-color: rgba(0,0,0,0);
    line-height: 3;
    width: 144px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    border-image: linear-gradient(to bottom right,#3a4ed5 0%, #3acfd5 100%);
    border-image-slice: 1;
}
.mainPage1280_div_2_box3_button:hover{
  box-shadow: 0px 0px 16px 10px rgba(0,0,255,0.24)
}
.mainPage1280_div_2_box4_news{
    color: rgb(56,59,80);
    font-size: 13px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to bottom right,#3a4ed5 0%, #3acfd5 100%);
    border-image-slice: 1;
}